/* 自力で全部書いたファイル */
.container {
    max-width: 80%;
    /* 「幅の最大値」を決めるプロパティ  最大80%にしてる*/
    margin: auto;
    /* margin:箱の外側に作る余白 　左右中央に置いてる*/
    padding:3rem;
    /* 箱の内側の余白 */
    background: rgba(237, 151, 196, 0.667);
    border-radius:20px; 
    /* border-radiusは、箱の「角」を丸くするためのプロパティ */
}

.title {
    font-size: 1.6rem;

    /* 下方向だけに絞って余白を指定 */
    margin-bottom: 1.5rem;

    color:darksalmon;

    text-align: center;
    /*  */
}


.image{
    width: 300px;
    display: block;
    margin: 0 auto;
    /* background-color: #00ffee; */
}

.stagename{
    color: aquamarine;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatarcount{
    color: rgb(163, 99, 203);
    font: bolder;
    text-align: center;
}

.avatarnewrecordlink{
    margin-top: 20px;
    color: blanchedalmond;
}