/* 自力 */
/* .recordscontainer{
    max-width: 90%;
    margin: auto;
    padding: 2rem;
    background-color: rgb(233, 200, 222);
    border-radius: 20px ;
} */

.recordstitle{
    font-size: larger;
    margin-bottom: 0.5rem;
    color: aliceblue;
    text-align: left;
}

.recordcard{
   padding: 20px;
   margin-bottom: 20px;
   border-radius: 15px;
   background: rgb(244, 210, 238);
}

.recordcardimages {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.75rem;
  flex-wrap: wrap;
}

.recordcardimage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}